.welcome {
  text-align: center;
}

.menu {
  margin-left: 10%;
  text-align: left;
  padding-top: 40px;
}

.menu #score {
  font-weight: bold;
}

.menu #timer {
  margin-left: 75%;
}

.menu #score:hover {
  color: white;
  background-color: #fc9548;
  cursor: pointer;
}

.list::marker {
    color: black;
}

.list {
    list-style-type: none;
}

.hoverList1:hover {
  color: white;
  background-color: #fc9548;
  cursor: pointer;
}

.hoverList2:hover {
    background-color: #fae9dc;
    cursor: pointer;
}

.containers {
  display: block;
  margin: 80px auto;
  text-align: left;
  box-shadow: 0 4px 8px 0 #713102;
  width: 40vw;
  padding: 20px;
  background-color: #fae9dc;
}

.containers .info {
  margin-left: 7%;
}

.containers li {
  padding-bottom: 10px;
}

#start {
  visibility: visible;
  margin-left: 7%;
  /* margin-top: 2%; */
  padding: 20px 50px;
  text-align: center;
}

.scoreForm {
    margin-left: 7%;
    visibility: hidden;
}
